<nav
  class="flex flex-row justify-between items-center p-4 bg-slate-100 shadow-sm"
>
  <a href="/" class="text-3xl">Meetup</a>
  <a
    href="/profile"
    class="bg-green-400 py-2 px-4 rounded-lg hover:bg-green-500">Login</a
  >
</nav>
