---
import Layout from "../layouts/Layout.astro";
import ChooseSchedule from "../components/schedule/ChooseSchedule.tsx";
---

<Layout title="Schedule">
  <main class="min-h-[90vh] container mx-auto text-center">
    <section class="px-2">
      <h1 class="text-5xl md:text-4xl font-bold text-gray-800 mb-6">
        What do <span class="text-blue-600">you</span> want to do?
      </h1>
    </section>
    <ChooseSchedule client:load />
  </main>
</Layout>
